/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 5rem;
  text-align: center;
  gap: 6rem;
}

@media (min-width: 1024px) {
  .hero-section {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

.hero-text h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.joinnow {
  background-color: #f3a8a8;
  border: none;
  color: black;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.joinnow:hover {
  background-color: #f08585;
}

/* Swiper */
.hero-swiper {
  width: 100%;
  max-width: 600px;
}

.swiper-container {
  margin-left: 50px;
  width: 100%;
  height: auto;
  overflow: hidden;
}


.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.swiper-image {
  margin-top: 50px;
  width: 100%;
  height: auto;
  /* aspect-ratio: 2.5/4; */
  max-width: 300px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s ease;
}


.swiper-slide-active .swiper-image {
  transform: scale(1.02);
}