.faculties-container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  margin-top: 5rem;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.search-bar:focus {
  border-color: #54c0d3;
  outline: none;
}

.faculties-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.faculty-card {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: justify;
}

.faculty-card:hover {
  transform: translateY(-5px);
}


.faculty-info {
  margin-top: 10px;
}

.faculty-department {
  font-weight: bold;
  color: #555;
}

.faculty-research {
  font-size: 0.9rem;
  color: gray;
}

.profile-button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #dd4086;
  color: white;
  font-weight:500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s ease-in-out;
}

.profile-button:hover {
  background-color: #a02e61;
}

.no-results {
  font-size: 1.2rem;
  color: gray;
}